.flash_massage {
    .notice {
        background-color:  #38aef0;
        color: white;
        text-align: center;
    }

    .alert {
        background-color: #f35500;
        color: white;
        text-align: center;
    }
}